body {
    font-size: 20px;
    font-family: 'Open Sans Condensed',verdana, sans-serif;
    text-align: center;
    background: #ECECEC;
    margin: 0 0 0 0;
}

.grid {
	margin-left: 420px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
}

.grid-box {
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: 20%;
	color: #776e65;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

h1 {
	font-weight: bold;
}

.container {
	margin-top: 20px;
}

.score-container {
	margin-top: 20px;
	font-weight: bold;
	background-color: #BBADA0;
	border-radius: 5px;
}

.score-title {
	color: #EEE4DA;
}

#totalscore{
	color: black;
}

.btn-default {
	margin-top: 10px;
	background-color: brown;
	font-weight: bold;
}

a {
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #EEE4DA;
	background-color: #BBADA0;
	border-radius: 5px;
}

a:hover {
	color: black;
	text-decoration: none;
}