body {
    font-size: 20px;
    font-family: 'Open Sans Condensed',verdana, sans-serif;
    text-align: center;
    background: #ECECEC;
    margin: 0 0 0 0;
}

.grid {
	overflow: hidden;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
	padding: 0;
	width: 580px;
}

.grid-box {
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: 20%;
	color: #776e65;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	@include border-radius($tile-radius);
  	@include transition($transition-time ease-in-out);
  	-webkit-transition-property: -webkit-transform;
  	-moz-transition-property: -moz-transform;
  	transition-property: transform;
  	z-index: 2;
}

h1 {
	font-weight: bold;
}

.container {
	margin-top: 20px;
}

.score-newgame {
	display: inline-block;
}

.score-container {
	float: none;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-weight: bold;
	background-color: #BBADA0;
	border-radius: 5px;
}

.score-title {
	color: #EEE4DA;
}

#totalscore{
	color: black;
}

.btn-default {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: brown;
	font-weight: bold;
}

a {
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #EEE4DA;
	background-color: #BBADA0;
	border-radius: 5px;
}

a:hover {
	color: black;
	text-decoration: none;
}

.header {
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}