#fourgrid {
	overflow: hidden;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
	padding: 0;
	width: 464px;
}

#fivegrid {
	overflow: hidden;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
	padding: 0;
	width: 580px;
}

#sixgrid {
	overflow: hidden;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
	padding: 0;
	width: 696px;
}

#fourgrid .grid-box {
	margin: 0;
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: 25%;
	color: #776e65;
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
}

#fivegrid .grid-box {
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: 20%;
	color: #776e65;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	@include border-radius($tile-radius);
  	@include transition($transition-time ease-in-out);
  	-webkit-transition-property: -webkit-transform;
  	-moz-transition-property: -moz-transform;
  	transition-property: transform;
  	z-index: 2;
}

#sixgrid .grid-box {
	margin: 0;
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: (100/6)%;
	color: #776e65;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
}

#eightgrid {
	overflow: hidden;
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 8px solid #BBADA0;
	border-radius: 10px;
	background-color: #CCC0B3;
	padding: 0;
	width: 928px;
}

#eightgrid .grid-box {
	margin: 0;
	border: 8px solid #BBADA0;
	background: #CCC0B3;
	width: 12.5%;
	color: #776e65;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-left: 0;
	padding-right: 0;
}

h1 {
	font-weight: bold;
}

body {
    font-size: 20px;
    font-family: 'Open Sans Condensed',verdana, sans-serif;
    text-align: center;
    background: #ECECEC;
}

.container {
	margin-top: 20px;
}

.score-newgame {
	display: inline-block;
}

.score-container {
	float: none;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-weight: bold;
	background-color: #BBADA0;
	border-radius: 5px;
}

.score-title {
	color: #EEE4DA;
}

#totalscore{
	color: black;
}

.btn-default {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: brown;
	font-weight: bold;
}

.btn-danger {
	font-weight: bold;
	font-size: 20px;
	color: #EEE4DA;
	background-color: #BBADA0;
	border: none;
}

.header {
	width: 464px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	margin-top: 20px;
}

.message {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 10px;
	opacity: 0.7;
	padding: 0;
	text-align: center;
	color: black;
	font-weight: bold;
}
